* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* utilities */

.container {
    width: 60%;
    margin: 0 auto;
    background-color: white;
    border-radius: 20px;
}


/* Header */
header {
    width: 100%;
    padding: 10px 30px;
}

header img {
    vertical-align: middle;
    width: 80px;

}

header h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    vertical-align: middle;
}
/* Main */
main {
    background-color: #f6f8f9;
}
