* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    width: 100%;
    padding: 10px 30px;
}

header img {
    vertical-align: middle;
    width: 80px;

}

header h1 {
    display: inline-block;
    font-size: 50px;
    font-weight: bold;
    vertical-align: middle;
}

